@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">NetMoovies</h1>
    <p>Saiba Mais <a href="https://github.com/DaniloAvelar/">Projeto desenvolvido por (Danilo Avelar) utilizando: ASP.NET Core</a>.</p>
</div>
